   
   
<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
            <span>  2nd Hand Uniform Club </span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="#"> First Link</a>
                <a class="mdl-navigation__link" href="#"> Second Link</a>
            </nav>
        </div>
    </header>

    <div class="mdl-layout__drawer">
        <span class="mdl-layout__title">Pull out Menu</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="#"> First Link</a>
            <a class="mdl-navigation__link" href="#"> Second Link</a>
        </nav>
    </div>