<!DOCTYPE html>
<html>
    {{> css}}
<head>
    <meta charset="utf8">
</head>

<body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quisquam minima perspiciatis ipsum, nostrum tempora
        id labore officiis delectus magni quibusdam. Fugiat reprehenderit, cum facilis pariatur sunt quisquam perspiciatis
        voluptates?</p>
    {{> footer}}
</body>



</html>